# Core dependencies
django==4.0.2
djangorestframework==3.13.1
psycopg2-binary==2.9.3
python-decouple==3.6.0
dj-database-url==0.5.0
pandas==1.4.1

# Documentation
drf-yasg

# Test utilities
pytest-django
faker
factory_boy
pytest_mock
pytest_factoryboy

# Dev utilities
ipdb
